In [33]:
import streamlit as st
import pandas as pd
import numpy as np
import shutil
import random

In [3]:
path1='./test_UI_membership.csv'

In [46]:
col1=['uuid', 'name', 'network_id', 'partner_id_network','legal_id_agency', 'agency_phone_number']
col2=['compared_uuid','compared_name', 'compared_network_id', 'compared_partner_id_network','compared_legal_id_agency', 'compared_agency_phone_number']

In [43]:
df_init = pd.read_csv(path1, sep=',', header=0)
df_final=pd.DataFrame(columns=['hashed_uuid', 'compared_id','duplicata'])

In [77]:
def create_dataframe(df_init,df_final):
    df_test=df_init[~df_init['hashed_uuid'].isin(set(df_final['hashed_uuid']))]
    df_test['duplicata']=np.nan
    uuid_select=random.choice(list(set(df_test['hashed_uuid'])))
    df_sample=df_test[df_test['hashed_uuid']==uuid_select]
    df1=df_sample[col1].drop_duplicates()
    df2=df_sample[col2]
    df2.columns=df2.columns.str.replace('compared_','')
    df_total=pd.concat([df1,df2])
    df_total['duplicata']=np.nan
    return df_total

In [81]:
df_test=create_dataframe(df_init,df_final)

In [84]:
df_test['duplicata']=1

In [85]:
df_test

,uuid,name,network_id,partner_id_network,legal_id_agency,agency_phone_number,duplicata
809,zeDh1HbcsEoVIiST,wimereux centre,7945.0,MSI011,NaN,3.332131e+10,1
809,ydaePtj5OqjUc0UR,wimereux dunes du golf,7945.0,SQU009,NaN,3.332111e+10,1
810,w5H7v5vx9JAMC6Vz,wingles,7945.0,IMM003,NaN,3.332137e+10,1
811,h40xtV9CeV7M6CGT,square habitat boulogne bo 62200,7945.0,SQU101,NaN,3.332131e+10,1
812,25jcPUXRgCoSW2VI,square habitat wingles 62410,7945.0,IMM003,NaN,3.332137e+10,1
813,sfPm6TdLUdibStjL,wormhout,7945.0,ARC064,NaN,3.332821e+10,1
814,RaITBSV2WsQeIKYK,orpi agence porte neuve wimereux wimereux 62930,4.0,73831,NaN,3.332131e+10,1
815,jWdRmZNNUTZLMbZm,wattrelos,7945.0,IMM033,NaN,3.332066e+10,1
816,Nd59U76TVHJ1wQEN,villeneuve d'ascq le sart,7945.0,ARC043,NaN,3.332099e+10,1
817,SQI5uJVwiCjBW5Tr,marcq en baroeul saint vincent,7945.0,ARC027,NaN,3.332082e+10,1
818,fKDvWNxhDyawNzDX,square habitat wimereux centre 62930,7945.0,MSI011,NaN,3.332131e+10,1
819,v6aXvb1qibdVjsxp,valenciennes centre,7945.0,MSI008,NaN,3.332752e+10,1
820,vf9GR3VbKpvDwVT5,boulogne bo,7945.0,SQU101,NaN,3.332131e+10,1

In [8]:
create_dataframe(path1)

(                 uuid     name  network_id partner_id_network  \
 674  ejsi7z7T6yRShYyZ  mouvaux        7945             ARC029

      legal_id_agency  agency_phone_number
 674              NaN          33320262222  ,
         compared_uuid    compared_name  compared_network_id  \
 674  LPpMcVsTRQSMDBEL  mons en baroeul               7945.0

     compared_partner_id_network  compared_legal_id_agency  \
 674                      IMM018                       NaN

      compared_agency_phone_number
 674                  3.332048e+10  )

In [10]:
df=pd.read_csv(path1, sep=',', header=0)

'1add574c56535a743406c47bfe7d52fd'

In [4]:
df.sample()

,hashed_uuid,compared_id,mean_distance,number_of_occurence,effect_size,uuid,name,network_id,partner_id_network,legal_id_agency,agency_phone_number,compared_uuid,compared_name,compared_network_id,compared_partner_id_network,compared_legal_id_agency,compared_agency_phone_number,match_partner_id,match_legal_id_agency,match_phone_number
569,05a52e4ac203184b9230b9b7a248445a,ca80477e658f290539d92b37f98d6b09,0.0,5,0.089286,mHgEKMC67IULCCNp,merignies,7945,SQU008,NaN,33320081315,q4pyBg3kWxQKyfB2,tourcoing roosevelt,7945.0,ARC040,NaN,3.332028e+10,0,0,0

In [5]:
df.columns

Index(['hashed_uuid', 'compared_id', 'mean_distance', 'number_of_occurence',
       'effect_size', 'uuid', 'name', 'network_id', 'partner_id_network',
       'legal_id_agency', 'agency_phone_number', 'compared_uuid',
       'compared_name', 'compared_network_id', 'compared_partner_id_network',
       'compared_legal_id_agency', 'compared_agency_phone_number',
       'match_partner_id', 'match_legal_id_agency', 'match_phone_number'],
      dtype='object')

In [8]:
[i for i in df.columns if i not in col1 and i not in col2]

['hashed_uuid',
 'compared_id',
 'mean_distance',
 'number_of_occurence',
 'effect_size',
 'match_partner_id',
 'match_legal_id_agency',
 'match_phone_number']

In [10]:
df.sample()[col1]

,uuid,name,network_id,partner_id_network,legal_id_agency,agency_phone_number
698,w5H7v5vx9JAMC6Vz,wingles,7945,IMM003,NaN,33321370000

In [11]:
df.sample()[col2]

,compared_uuid,compared_name,compared_network_id,compared_partner_id_network,compared_legal_id_agency,compared_agency_phone_number
456,yj1GHwNHEJ3HhleD,saint omer,7945.0,SQU001,NaN,3.332139e+10